.git/*
env/
.env/
.env
venv/
.venv
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-projectgit
*.sublime-workspace

api/
api_yamdb/
templates/
trash/




db.sqlite3

.nginx

nginx/
trash/

docker-compose.yaml
ssh-key.pub
